body {
    background-color: black;
}

h1, h2, h3, p, a {
    color: white;
}

h2, h3, p {
    margin: 0.5em 0;
}

p {
    line-height: 1.2;
}

.custom-list {
    list-style-type: none;
    padding-left: 0;
}

.custom-list li {
    position: relative;
    padding-left: 20px; /* Adjust as needed */
    margin-bottom: 5px; /* Add some spacing between items */
}

.custom-list li::before {
    color: white; /* Set the color to white */
    font-weight: bold;
    position: absolute;
    left: 0;
}

header {
    text-align: center;
}

.content {
    display: flex;
    align-items: flex-start;
}

.image-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.image-container img {
    max-width: 100%;
}

.image-container figcaption {
    margin-top: 5px;
    display: block;
}

.rating {
    color: #FFD700;
}