p {
    line-height: 1.2;
}

h1, h2, h3, p, header {
    width: 50%;
    margin: 0.5em 0;
}

.content {
    display: flex;
    align-items: flex-start;
}

.image-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.image-container img {
    max-width: 100%;
}

.image-container figcaption {
    margin-top: 5px;
    display: block;
}