body {
    background-color: black;
}

h1, h2, h3, p, a {
    color: white;
}

h2, h3, p {
    margin: 0.5em 0;
}

p {
    line-height: 1.2;
}

header, h1, h2, h3 {
    text-align: center;
}

.content {
    display: flex;
    align-items: flex-start;
}

.img {
    position: absolute;
    right: 50%;
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 100px; /* Ensure the image doesn't exceed its container's height */
}

.rating {
    color: #FFD700;
}