body {
    background-color: black;
}

h1, h2, h3, p, a {
    color: white;
}

h2, h3, p {
    margin: 0.5em 0;
}

p {
    line-height: 1.2;
}

header, h1, h2, h3 {
    text-align: center;
}

.content {
    display: flex;
    align-items: flex-start;
}

.left-image {
    float: left; /* Float the image to the left */
    margin-right: 10px; /* Add some margin to create space between the image and text */
    max-width: 50%; /* Set the maximum width to 100% of its container */
    height: auto; /* Allow the height to adjust proportionally to maintain aspect ratio */
}

.rating {
    color: #FFD700;
}

.decade {
    margin: 10px 0;
}

.year {
    display: none;
    margin-left: 20px;
}

.decade:hover .year {
    display: block;
}